body {
    background: rgb(255,241,80);
background: radial-gradient(circle, rgba(255,241,80,1) 0%, rgba(255,115,0,1) 100%);
}

/* header */
.header {
    width: 1280px;
    position: relative;
    margin: 0px auto;
}

/* Style for the kolaborasi */
.kolaborasi {
    margin: 0px auto; /* Add space above and center the section */
    width: 1280px; /* Match the width of the navbar */
    padding: 0px;
    position: relative;
}

/* Navigation Bar */
ul {
    list-style: none;
    background: rgb(255, 233, 110);
    border: 2px solid brown;
    margin: 0x auto; 
    position: relative; /* Ensure it follows document flow */
    width: 1280px;
    height: 60px;
    text-align: left; /* Center align text */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    margin-bottom: 5px;
    margin-top: -5px;
}

ul li {
    display: inline-block;
    position: relative;
    margin: 0 auto;
    height: 60px;
    padding: 10px 8px;
}

ul li a{
    text-decoration: none;
    color: brown;
    padding: 10px 20px;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth color changes */
}

ul a:hover{
    background-color: lightyellow;
}

/* kode css dropdown */
ul li ul.dropdown li {
    display: block;
}

ul li ul.dropdown {
    background: rgb(255, 233, 110);
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    margin: 0px 0px;
}

ul li:hover ul.dropdown {
    display: block;
}

/* konten */

.pendahuluan{
    background: rgb(255,240,62);
background: linear-gradient(90deg, rgba(255,240,62,1) 0%, rgba(255,247,153,1) 35%, rgba(255,200,0,1) 100%);
    border: 5px solid brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: brown;
    margin: 0px 150px 150px;
    font-size: 14px;
    text-align: justify;
    padding: 10px 10px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.title-1{
    background-color: rgb(255, 247, 153);
    border: 5px solid brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: brown;
    margin: 0px 100px 150px;
    font-size: 20px;
    text-align: center;
    padding: 0px 0px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.isi-1{
    background: rgb(255,240,62);
background: linear-gradient(90deg, rgba(255,240,62,1) 0%, rgba(255,247,153,1) 35%, rgba(255,200,0,1) 100%);
    border: 5px solid brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: brown;
    margin: 0px 150px 150px;
    font-size: 14px;
    text-align: justify;
    padding: 10px 10px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.one{
    margin-top: 10px;
    margin-right: 10px;
    width: 24%;
    border-radius: 5px;
    border: 3px solid white;
    transition: transform 0.3s ease-in-out; /* smoother transition */ 
    display: inline-block;
    margin-left: 300px;
}

.one:hover{
    transform:scale(1.1)
}

.two{
    margin-top: 10px;
    margin-right: 10px;
    width: 26%;
    border-radius: 5px;
    border: 3px solid white;
    transition: transform 0.3s ease-in-out; /* smoother transition */ 
    display: inline-block;
}

.two:hover{
    transform:scale(1.1)
}

.five{
    margin-top: 10px;
    margin-right: 10px;
    width: 24%;
    border-radius: 5px;
    border: 3px solid white;
    transition: transform 0.3s ease-in-out; /* smoother transition */ 
    display: inline-block;
    margin-left: 290px;
}

.five:hover{
    transform:scale(1.1)
}

.six{
    margin-top: 10px;
    margin-right: 10px;
    width: 28%;
    border-radius: 5px;
    border: 3px solid white;
    transition: transform 0.3s ease-in-out; /* smoother transition */ 
    display: inline-block;
}

.six:hover{
    transform:scale(1.1)
}

.isi-2{
    background: rgb(255,240,62);
background: linear-gradient(90deg, rgba(255,240,62,1) 0%, rgba(255,247,153,1) 35%, rgba(255,200,0,1) 100%);
    border: 5px solid brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: brown;
    margin: 0px 150px 150px;
    font-size: 14px;
    text-align: justify;
    padding: 10px 10px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.title-2{
    background-color: rgb(255, 247, 153);
    border: 5px solid brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: brown;
    margin: 0px 100px 150px;
    font-size: 20px;
    text-align: center;
    padding: 0px 0px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.img-1{
    margin-top: 10px;
    margin-right: 10px;
    width: 22%;
    border-radius: 5px;
    border: 3px solid white;
    transition: transform 0.3s ease-in-out; /* smoother transition */ 
    display: inline-block;
    margin-left: 130px;
}

.img-1:hover{
    transform:scale(1.1)
}

.img-2{
    margin-top: 10px;
    margin-right: 10px;
    width: 26%;
    border-radius: 5px;
    border: 3px solid white;
    transition: transform 0.3s ease-in-out; /* smoother transition */ 
    display: inline-block;
}

.img-2:hover{
    transform:scale(1.1)
}

.img-3{
    margin-top: 10px;
    margin-right: 10px;
    width: 28%;
    border-radius: 5px;
    border: 3px solid white;
    transition: transform 0.3s ease-in-out; /* smoother transition */ 
    display: inline-block;
}

.img-3:hover{
    transform:scale(1.1)
}

.isi-3{
    background: rgb(255,240,62);
background: linear-gradient(90deg, rgba(255,240,62,1) 0%, rgba(255,247,153,1) 35%, rgba(255,200,0,1) 100%);
    border: 5px solid brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: brown;
    margin: 0px 100px 150px;
    font-size: 14px;
    text-align: justify;
    padding: 10px 10px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.ekonomi{
    margin-top: 10px;
    margin-right: 10px;
    width: 30%;
    border-radius: 5px;
    border: 3px solid white;
    transition: transform 0.3s ease-in-out; /* smoother transition */ 
    margin-left: 360px;
}

.ekonomi:hover{
    transform:scale(1.1)
}

.isi-4{
    background: rgb(255,240,62);
background: linear-gradient(90deg, rgba(255,240,62,1) 0%, rgba(255,247,153,1) 35%, rgba(255,200,0,1) 100%);
    border: 5px solid brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: brown;
    margin: 0px 100px 150px;
    font-size: 14px;
    text-align: justify;
    padding: 10px 10px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.who{
    margin-top: 10px;
    margin-right: 10px;
    width: 30%;
    border-radius: 5px;
    border: 3px solid white;
    transition: transform 0.3s ease-in-out; /* smoother transition */ 
    margin-left: 360px;
}

.who:hover{
    transform:scale(1.1)
}

.who02{
    margin-top: 10px;
    margin-right: 10px;
    width: 30%;
    border-radius: 5px;
    border: 3px solid white;
    transition: transform 0.3s ease-in-out; /* smoother transition */ 
    margin-left: 360px;
}

.who02:hover{
    transform:scale(1.1)
}

.title-3{
    background-color: rgb(255, 247, 153);
    border: 5px solid brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: brown;
    margin: 0px 100px 150px;
    font-size: 20px;
    text-align: center;
    padding: 0px 0px;
    margin-bottom: 5px;
    margin-top: 10px;
}

/* footer */
.footer img{
    width: 1280px;
    position: relative;
    border-radius: 0 !important;
    box-shadow: none !important;
    padding: 0; 
    margin: 0 auto; 
    text-align: center; 
}